<mat-card>
 <form (submit)="onAddCourse(postForm)" #postForm="ngForm">
  <mat-form-field>
        <input
               matInput
               type="text"
               name="title"
               [ngModel]="course?.title"
               required
               minlength ="3"
               placeholder="Course Title"
               #title="ngModel">
               <mat-error *ngIf="title.invalid">Please enter a Course Title</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input
                 matInput
                 type="text"
                 name="description"
                 [ngModel]="course?.description"
                 required
                 minlength ="3"
                 placeholder="Course Description"
                 #description="ngModel">
                 <mat-error *ngIf="title.invalid">Please enter a Course Description</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                   matInput
                   type="text"
                   name="courseId"
                   [ngModel]="course?.courseId"
                   required
                   minlength ="3"
                   placeholder="Course ID"
                   #courseId="ngModel">
                   <mat-error *ngIf="title.invalid">Please enter a Course ID</mat-error>
          </mat-form-field>

          <mat-form-field>
              <input
                     matInput
                     type="text"
                     name="date"
                     [ngModel]="course?.date"
                     required
                     minlength ="3"
                     placeholder="Date"
                     #date="ngModel">
                     <mat-error *ngIf="title.invalid">Please enter a Course Date</mat-error>
            </mat-form-field>


      <button
       mat-raised-button
       type="submit">SAVE</button>
    </form>
</mat-card>
