mat-form-field,
input {
  display: flex;
  flex-direction: column;  
}

mat-error { 
  color: #ffffff;
}

button { 
  background-color: #B15DFF;
}

:host {
  width: relative;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
